@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap');

:root {
  --cream: #e4c3a8;
  --red: #87291e; 
  --green: #7a8030;
  --black: #2d2c2b;
  --orange: #ec9f45;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
/*  background-color: var(--cream) !important;*/
/*  font-family: 'Work Sans', sans-serif !important;
  font-weight: 300 !important;
  min-height: 100vh;
  width: 100%;*/
  font-family: 'Montserrat', sans-serif !important;
  height: 100% !important;
}

.navText {
  color: var(--green) !important;
}

.navText:hover {
  color: var(--red) !important;
  font-weight: bold;
}

.register {
/*  background-color: var(--red) !important;*/
  border: 1px solid var(--orange);
  border-radius: 25px;
}

.register:hover {
  background-color: var(--orange);
  color: white !important;
  transition: 0.3s;
}

.bannerBtn {
  background-color: var(--orange) !important;
}

.bannerBtn:hover {
  background-color: var(--green) !important;
  transition: 0.3s;
}

.detailsBtn {
  background-color: var(--cream) !important;
}

.detailsBtn:hover {
  background-color: var(--orange) !important;
  transition: 0.3s;
}

.orderBtn {
  background-color: var(--orange) !important;
}

.orderBtn:hover {
  background-color: var(--green) !important;
  color: white !important;
  transition: 0.3s;
}
.cardHighlight {
  min-height: 100%;
}

.font-weight-bold {
  font-weight: bold !important;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.heading-lg {
  font-weight: 900;
}

.bg-gray {
  background-color: #d3d3d3 !important;
}

.cartCard:hover {
  -webkit-box-shadow: 0px 1px 14px 3px rgba(0,0,0,0.51); 
  box-shadow: 0px 1px 14px 3px rgba(0,0,0,0.51);
  transition: 0.3s;
  cursor: pointer;
}

.sectionTitle {
  display: inline-block;
  text-align: center;
  border-bottom: 7px solid var(--orange);
  padding-bottom: 2px;
}

.parent { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeHero {
  height: 50vh !important;
  max-width: 100vw !important;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("./images/pizza-cover.jpg");
  background-repeat:no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.cardHighlight {
  -webkit-box-shadow: 0px 0px 10px 0px #000000; 
  box-shadow: 0px 0px 1px 0px #000000;
}

.text-cream {
  color: var(--cream);
}

.text-olive{
  color: var(--green);
}

.bg-cream {
  background-color: var(--cream) !important;
}

/*#userIdCol {
  background-color: teal;
}
*/

footer {
  bottom: 0;
  position: relative;
  margin-top: 10vh;
  height: 12vh;
  background-color: var(--green);
}

footer i {
  font-size: 2.5rem !important;
  padding: 0px 10px;
  margin: 0 10px;
  color: var(--cream);
  border-radius: 10px;
}

footer i:hover {
  color: var(--orange);
  box-shadow: 0px 5px var(--red);
  transition: 0.3s;
}

.bg-olive {
  background-color: var(--green) !important;
}

.text-orange {
  color: var(--orange);
}
